Q1-DP What are data structures, and why are they important

Ans-Data structures are simple ways to organize and store data so we can use it easily and efficiently. They help us find, add, change, or remove data quickly when needed.

Q2- Explain the difference between mutable and immutable data types with examples

Ans- <u>Difference Between Mutable and Immutable Data Types  </u>

<u>Mutable data types </u>

You can change them after they are made. You can add, remove, or update things without making a new one.

<u>Immutable data types </u>

You cannot change them after they are made. If you want to change something, a new copy is created.

Q3-What are the main differences between lists and tuples in Python

Ans- <u>differences between lists and tuples in Python</u>


**Mutable**  
- List: Yes  
- Tuple: No

**Syntax**  
- List: [1, 2, 3]  
- Tuple: (1, 2, 3)

**Methods Available**  
- List: Many  
- Tuple: Few

Q4-Describe how dictionaries store data

Ans-In Python, a dictionary is like a box that stores pairs of information.
Each key is linked to a value — like a name and its phone number.

student = {
    "name": "Akash",
    "age": 21
}

Q5-Why might you use a set instead of a list in Python

Ans-Why Use a Set Instead of a List in Python

A set is a special type of collection in Python that:

• Doesn’t allow repeated items (no duplicates)  
• Doesn’t keep items in order  
• Is often faster when checking if something is inside

Q6-What is a string in Python, and how is it different from a list

Ans-A string is a piece of text made up of letters, numbers, or symbols, and it is written inside quotes.

text = "Hello"

You can write strings using single quotes like 'Hello' or double quotes like "Hello".

Each letter in a string has a number that shows its place.

For example:
H is at position 0, e is at 1, and so on.

Q7-How do tuples ensure data integrity in Python

Ans-Tuples keep data safe because you can’t change them after they are made.

This means no one can add, remove, or change the values inside a tuple.

Q8-What is a hash table, and how does it relate to dictionaries in Python

Ans-A hash table is a way to store data using key-value pairs.

Think of it like a locker system:

You give a key (like a name),

It uses a special math rule (called a hash function) to choose a locker number,

Then it puts your data in that locker or finds it when you need it.

This makes it very fast to store and find things.

Q9-Can lists contain different data types in Python

Ans-Yes, in Python, a list can contain different data types.

10 is an integer

"Hello" is a string

3.14 is a float

True is a boolean

Q10-Explain why strings are immutable in Python
Ans-In Python, strings cannot be changed after they are made.

If you want to change something in a string, you have to make a new string.

Q11-What advantages do dictionaries offer over lists for certain tasks
Ans-Lists and dictionaries are both useful in Python, but dictionaries are better for some tasks.
They make it easy to store and find data using names instead of numbers

1.<u> Fast Lookups</u>

Dictionary: Finds values quickly using a key

List: Searches by position or checks each item one by one

 2.<u> Key-Value Pairing</u>

Dictionaries are great when you want to label your data.

Lists don’t have labels — they just store values in order.

3.<u>Better for Structured Data</u>

Dictionaries are ideal for representing things like:

JSON data

Student records

Config settings

Q12-Describe a scenario where using a tuple would be preferable over a list

Ans-A tuple is better when you want to keep your data safe and not let it change.

The data is fixed

You don’t want it to be changed by mistake

You want to use it as a dictionary key or store it safely

Q13-How do sets handle duplicate values in Python

Ans-A set never allows duplicates — if you add the same item again, it won’t be stored again.

Q14-How does the “in” keyword work differently for lists and dictionaries

Ans-The in keyword is used to check if something is there.

But it works differently for lists and dictionaries:

In a list, it checks if a value is in the list.

In a dictionary, it checks if a key is in the dictionary.

Q15-Can you modify the elements of a tuple? Explain why or why not

Ans-No, you cannot modify the elements of a tuple.You cannot change a tuple because Python locks its values once it's made.
If you need to change the data, use a list instead.

Q16-What is a nested dictionary, and give an example of its use case

Ans-A nested dictionary lets you store dictionaries inside dictionaries — useful when you need to keep detailed data grouped and organized.

students = {
    "student1": {"name": "Akash", "age": 20, "grade": "A"},
    "student2": {"name": "Riya", "age": 21, "grade": "B"}
}

Q17-Describe the time complexity of accessing elements in a dictionary

Ans-Accessing a value in a dictionary is usually instant, no matter how big the dictionary is — that’s why dictionaries are great for quick lookups

Q18-In what situations are lists preferred over dictionaries

Ans-Dictionaries are good for key-value data, but sometimes lists are better.
Use a list when you just need to store items in order, don't need names for them, or want to keep duplicates.

You only care about items, not names

You want to keep things in order

You need to use indexes

You want to store duplicates

Q19-Why are dictionaries considered unordered, and how does that affect data retrieval

Ans-Dictionaries are considered unordered because they are designed to find values using keys, not by order.
Even if the order is kept (in newer Python), you should not depend on it when writing your code.

Q20-Explain the difference between a list and a dictionary in terms of data retrieval.

Ans- <u>Difference Between a List and a Dictionary in Terms of Data Retrieval</u>

**Speed of Retrieval**
Dictionary: Very fast (average case O(1)) because it uses a hash table.

List: Slower (O(n)) when searching for a value, unless you know the exact index.

**Use Case**
List: Best when you just need a group of values in order (like a shopping list).

Dictionary: Best when each value has a unique label (like a student’s name, age, grade).

# *Practical Questions*

In [ ]:
#Q1-Write a code to create a string with your name and print it

name = "Akash Singh"

print("My name is:", name)

My name is: Akash Singh

In [ ]:
#Q2-Write a code to find the length of the string "Hello World"

text = "Hello World"

length = len(text)

print("Length of the string is:", length)

Length of the string is: 11

In [ ]:
#Q3-+P Write a code to slice the first 3 characters from the string "Python Programming"


text = "Python Programming"

sliced_text = text[:3]

print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [ ]:
#Q4-Write a code to convert the string "hello" to uppercase

text = "hello"

uppercase_text = text.upper()

print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [ ]:
#Q5- Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"

new_text = text.replace("apple", "orange")

print("Updated string:", new_text)

Updated string: I like orange

In [ ]:
#Q6-Write a code to create a list with numbers 1 to 5 and print it


numbers = [1, 2, 3, 4, 5]

print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [ ]:
#Q7-Write a code to append the number 10 to the list [1, 2, 3, 4]


numbers = [1, 2, 3, 4]

numbers.append(10)

print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [ ]:
#Q8-Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#Q9- Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
#Q10-Write a code to reverse the list [10, 20, 30, 40, 50]

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
#Q11-Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#Q12-Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [ ]:
#Q13-Write a code to find the minimum number in the tuple (10, 20, 5, 15)

my_tuple = (10, 20, 5, 15)
minimum = min(my_tuple)
print(minimum)

5

In [ ]:
#14- Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [ ]:
#Q15-Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.


fruits = ('apple', 'mango', 'banana')

if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [ ]:
#Q16-Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [ ]:
#Q17-Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#Q18-Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#Q19-Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#Q20-Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [ ]:
#Q21-Write a code to create a dictionary with the keys "name", "age", and "city", and print it

person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
#Q22- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Q23-Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.


person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [ ]:
#Q24-Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q25- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [ ]:
#Q26- Write a code to create a list, a tuple, and a dictionary, and print them all.

person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [ ]:
#Q27- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)

import random


random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()

print(random_numbers)

[21, 35, 56, 68, 82]

In [ ]:
#Q28-Write a code to create a list with strings and print the element at the third index

my_list = ['apple', 'banana', 'cherry', 'date', 'fig']
print(my_list[3])

date

In [ ]:
#Q29-Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}


combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [ ]:
#Q30- Write a code to convert a list of strings into a set

my_list = ['apple', 'banana', 'cherry', 'apple']
my_set = set(my_list)
print(my_set)

{'cherry', 'apple', 'banana'}